@page
@{
    Layout = "Shared/_Layout";
}
<div class="account_main_div">
    @await Component.InvokeAsync("AccountSidebar")

    <div class="div_no_sidebar_space">
        <form class="form-group registration_form">
            <h4 class="registration_child">Изменить логин или пароль</h4>
            <input class="form-control registration_child" id="old_password" type="password" placeholder="Пароль">
            <input class="form-control registration_child" id="login" type="text" placeholder="Новый логин">
            <input class="form-control registration_child" id="new_password" type="password" placeholder="Новый пароль">
            <input class="form-control registration_child" id="confirm_password" type="password" placeholder="Повторите новый пароль"> @*TODO password peek?*@
            <button class="btn btn-success registration_child" type="submit">Изменить</button>
        </form>
        <div class="registration_form">
            <h4 class="registration_child">Изменить изображение профиля</h4>
            <div class="input-group registration_child">
                @* <div class="input-group-prepend"> *@
                @*   <span class="input-group-text" id="inputGroupFileAddon01">Изменить изображение профиля</span> *@
                @* </div> *@
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">Выберите файл</label>
                </div>
            </div>
        </div>
    </div>
</div>