@page
@model Sem.Pages.AccountForum

@{
    Layout = "Shared/_Layout";
}

<div class="account_main_div">
    @await Component.InvokeAsync("AccountSidebar")

    <div class="div_no_sidebar_space">
        <div class="container-fluid">
            <div class="row">
                @await Component.InvokeAsync("IndexForum")
                @await Component.InvokeAsync("IndexForum")
                @await Component.InvokeAsync("IndexForum")
                @await Component.InvokeAsync("IndexForum")
                @await Component.InvokeAsync("IndexForum")
                @await Component.InvokeAsync("IndexForum")
            </div>
        </div>
    </div>
</div>