@page
@using Sem.DB_Operations

@{
    Layout = "Shared/_Layout";
}

<div class="account_main_div" id="accountUpdate">
    @await Component.InvokeAsync("AccountSidebar", Request.Cookies["img_user"])

    <div class="div_no_sidebar_space">
        <div class="container-fluid">
            <div class="row">
                @foreach (var chat in ForumOps.GetAccountChats(Request))
                {
                    @await Component.InvokeAsync("IndexForum", chat)
                }
            </div>
        </div>
    </div>
</div>