@page
@model Sem.Pages.Account
@{
    Layout = "Shared/_Layout";
}
<div class="account_main_div" id="accountUpdate">
    <div class="account_sidebar_background border-right" id="account_sidebar">
        @* <div id="sidebar_heading">Start Bootstrap </div> *@
        @await Component.InvokeAsync("AccountSidebar", Request.Cookies["img_user"])
    </div>

    <div class="div_no_sidebar_space">
        <form class="form-group registration_form">
            <div id="message" class="alert alert-danger" role="alert" style="display: none;">
            </div>
            <h4 class="registration_child">Изменить логин или пароль</h4>
            <input class="form-control registration_child" id="login" type="text" placeholder="Новый логин">
            <input class="form-control registration_child" id="old_password" type="password" placeholder="Пароль">
            <input class="form-control registration_child" id="new_password" type="password" placeholder="Новый пароль">
            <button type="button" class="btn btn-success registration_child" onclick="PostAcccountChange('@Url.Page("./Account")', 'change')">Изменить</button>
        </form>
        <form class="registration_form" enctype="multipart/form-data" method="post">
            <h4 class="registration_child">Изменить изображение профиля</h4>
            <div class="input-group registration_child">
                @* <div class="input-group-prepend"> *@
                @*   <span class="input-group-text" id="inputGroupFileAddon01">Изменить изображение профиля</span> *@
                @* </div> *@
                <div class="custom-file">
                    <input type="file" asp-for="Image" accept=".jpg, .png, .jpeg" class="custom-file-input minor_shadow" id="inputGroupFile01">
                    <label class="custom-file-label" for="inputGroupFile01">Выберите файл</label>
                </div>
            </div>
            <button type="submit" class="btn btn-success registration_child" >
                Сохранить изображение профиля
            </button>
        </form>
        @* <form class="form-group registration_form"> *@
        @*     <button type="button" class="btn btn-success registration_child" onclick="PostOnClick('@Url.Page("./Account")', 'exit')"> *@
        @*         Выйти *@
        @*     </button> *@
        @* </form> *@
    </div>
</div>