@page
@model Sem.Pages.Constructor

@{
    Layout = "Shared/_Layout";
}

<form class="form-group registration_form">
    <div id="message" class="alert alert-danger" role="alert" style="display: none;">
    </div>
    <input class="form-control registration_child" id="name" type="text" placeholder="Название">
    <textarea class="form-control registration_child" id="description" rows="3" placeholder="Описание"></textarea>
    <button type="button" class="btn btn-success registration_child" onclick="PostCreateForum('@Url.Page("./Constructor")', 'create')">Создать</button>
</form>