@page
@model Sem.Pages.ForumIndex

@{
    Layout = "Shared/_Layout";
}

<button class="btn-lg btn-success" id="create_forum_item_button">Создать</button>
<div class="container-fluid">
    <div class="row">
        @await Component.InvokeAsync("IndexForum")
        @await Component.InvokeAsync("IndexForum")
        @await Component.InvokeAsync("IndexForum")
        @await Component.InvokeAsync("IndexForum")
        @await Component.InvokeAsync("IndexForum")
        @await Component.InvokeAsync("IndexForum")
    </div>
</div>