@page
@model Sem.Pages.Register

@{
    Layout = "Shared/_Layout";
}

<form class="form-group registration_form">
    <input class="form-control registration_child" id="login" type="text" placeholder="Логин">
    <input class="form-control registration_child" id="password" type="password" placeholder="Пароль">
    <input class="form-control registration_child" id="confirm_password" type="password" placeholder="Повторите пароль"> @*TODO password peek?*@
    <button class="btn btn-success registration_child" type="submit">Зарегистрироваться</button>
</form>