@page
@model Sem.Pages.SignIn

@{
    Layout = "Shared/_Layout";
}

<form class="form-group registration_form" method="post">
    <div id="message" class="alert alert-danger" role="alert" style="display: none;">
    </div>
    <input class="form-control registration_child" id="login" type="text" placeholder="Логин">
    <input class="form-control registration_child" id="password" type="password" placeholder="Пароль">
    <button type="button" class="btn btn-success registration_child" onclick="PostSignIn('@Url.Page("./SignIn")', 'sign')">Войти</button>
</form>