:root{
    --sidebar_width: 200px;
}

html, body{
    width: 100%;
    height: auto;
}

.color_primary{
    background-color: #93d4ff;
}
.color_text{
    color: black;
}
.color_text:hover{
    color: white;
}
/*Multiple selection dropdown*/
.bootstrap-select .bs-ok-default::after {
    width: 0.3em;
    height: 0.6em;
    border-width: 0 0.1em 0.1em 0;
    transform: rotate(45deg) translateY(0.5rem);
}

.btn.dropdown-toggle:focus {
    outline: none !important;
}
/*Card*/
.my_card{
    margin: 50px;
    border-radius: 20px;
}

.my_card img{
    border-radius: 20px 20px 0 0;
    object-fit: contain;
}

.my_card:hover{
    background-color: #999696;
}
/*
.margin_0{
    margin: 0;
}*/

.registration_form{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.registration_child{
    margin: 10px auto;
    width: 40%;
}

.article_parent{
    width: 90%;
    margin: 10px auto 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#create_forum_item_button{
    display: block;
    margin: 10px auto;
}

#account_sidebar{
    float: left;
    width: var(--sidebar_width);
    height: 100%;
    box-shadow: 10px 0 10px -10px rgba(0,0,0,0.2);
}

.account_sidebar_background{
    background-color: #93d4ff;
}

.account_main_div{
    position: absolute;
    width: 100%;
    height: 100%;
}

.div_no_sidebar_space{
    float: left;
    height: 100%;
    width: calc(100% - var(--sidebar_width));
}

#image_picker_parent{
    margin: 60px auto;
    width: 40%;
}

#search_form{
    display: block;
}

#search_button{
    display: inline-block;
    margin-left: 0;
    margin-right: 30px;
}

#search_input{
    display: inline-block;
    margin-right: 0;
}

#tags_select{
    display: inline-block;
}

.shadow_my{
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.minor_shadow, .registration_form input, .registration_form button{
    box-shadow: 0 0 7px rgba(0,0,0,0.1);
}

.article_image_parent{
    width: 100%;
    height: 60%;
    border-radius: 20px 20px 0 0;
}

#header_line{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#article_header{
    display: block;
}

.star{
    width: 40px;
    height: 40px;
}

#placeholder{
    opacity: 0;
    /*width: 40px;*/
    /*height: 40px;*/
}








.forum-box{
    margin-bottom: 10px;
}
.forum{
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
}

.forum-title{
    text-align: center;
}
.forum_description{
    text-indent: 2em;
}
.one-debate-peoples{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

.one-debate-peoples-svg{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}





.chat-box{
    height: 600px;
    display: flex;
    flex-direction: column;
}

.chat{
    height: 100%;
    max-height: calc(100% - 50px);
    display: flex;
    flex-direction: row;
}
.chat-container-box{
    width: 100%;
    height: 100%;
    padding: 5px;
}
.chat-container{
    height: 100%;
    max-height: 540px;
    background-color: #f1f0f0;
    border-radius: 8px;
    padding: 10px;

    overflow-y: auto;

}








.messages_from_user{
    display: flex;
    flex-direction: row;
}


.message-img{
    width: 36px;
    height: 36px;
}
.message-place{
    display: flex;
    flex-direction: column;
    max-width: 50%;
}
.message-box{
    display: flex;
}
.message{
    padding: 5px 10px;
    margin-bottom: 10px;
}

.message-box{
    flex-direction: row;
}



.message{
    background-color: #ccdefc;
    /*border-radius: 18px;*/
}





.publisher{
    height: 50px;
    background-color: white;
    /*margin: 5px;*/
    padding: 10px;
}

.chat-form{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 10px;
}
.chat-form input{
    width: 100%;
    height: 38px;

    margin: 0 10px;
    padding: 0 10px;
    /*border-radius: 20px;*/

    outline: none;
    border: 0;
    /*border: solid 1px gray;*/
    border-bottom: solid 1px gray;

    /*background-color: #fff;*/
}


#send-btn{
    /*border-radius: 0 20px 20px 0;*/

}
