@model object

<div class="col-md-4">
<div class="card">
    <h4 class="card-title">Article Title</h4>
    <img class="card-img-top" src="img/placeholder.jpg" alt="Article Image"/>
    <div class="card-body">
        Some text
    </div>
</div>
</div>