@model object

<div class="col-md-4">
    <div class="card my_card shadow_my" onclick="openForum()">
        <h4 class="card-title">Forum Topic Title</h4>
        <div class="card-body">
            Some text
        </div>
        @* <button class="btn btn-primary">Открыть</button> *@
    </div>
</div>