@model List<object>

<div class="col-md-4">
    <a href="@Url.Page("./Forum", new { forumId = Model[2] })">
        <div class="card my_card shadow_my">
            <h4 class="card-title">@Model[0]</h4>
            <div class="card-body">
                @Model[1]
            </div>
            @* <button class="btn btn-primary">Открыть</button> *@
        </div>
    </a>
</div>